.login-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    background: linear-gradient(135deg, #4facfe, #00f2fe); /* Fondo degradado */
    font-family: 'Arial', sans-serif; /* Fuente moderna */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    opacity: 0.5; /* Transparencia para resaltar el contenido */
    z-index: -1; /* Envía la imagen al fondo */
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 3rem; /* Aumenta el relleno interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    text-align: center;
    width: 100%;
    max-width: 600px; /* Aumenta el ancho máximo */
  }
  
  .login-form input,
  .login-form button {
    width: 80%; /* Mismo ancho para inputs y botón */
    padding: .5rem;
    margin: 0.8rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease; /* Transición suave */
  }
  
  .login-form input:focus {
    border-color: #4facfe; /* Color de borde al enfocar */
    outline: none;
  }
  
  .login-form button {
    background: #4facfe;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease; /* Transición suave */
  }
  
  .login-form button:hover {
    background: #00c6ff; /* Color al pasar el mouse */
  }
  
  .login-title {
    font-size: 2rem; /* Tamaño de fuente más grande */
    margin-left: 65px;
    font-weight: bold; /* Texto en negrita */
    color: #000000; /* Color principal */
    margin-bottom: 1.5rem; /* Espaciado inferior */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1.5px; /* Espaciado entre letras */
    text-align: center; /* Centrar el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  }
  
  .login-logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción del logo */
    margin-bottom: 1.5rem; /* Espaciado inferior */
  
    margin-left: 280px;
    border-radius: 10px; /* Bordes redondeados para armonizar con el diseño */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  
  .login-logo:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
  }